*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#title {
    padding-top: 5%;
    background-color: #ff4c68;
}
.navnav {
    padding: 0;
}
.title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: 'Montserrat-Black',sans-serif;
    font-size: 1.2rem;

}

h1{
    font-family: 'Montserrat-Black',sans-serif;
    color: white;
    font-size: 3.7rem;
    font-weight: bolder;
    line-height: 1.5;
    padding-top: 10%;
}
.dog-img{
    width: 60%;
    transform: rotate(25deg);
    padding: 10% 0 ;
    margin: 0px 20%;
}
.title-contain{
    padding-top: 3%;
}

.btn{
    margin: 3% 2% 0 0;
    font-family: 'Montserrat-Black',sans-serif;
}

#features{
    padding: 3% 0;
}
.features-row{
    padding: 0 3%;
}
.features-col {
    padding: 5% 4%;
    text-align: center;
}
.fa-3{
    color: #ef8172;
    font-size: 48px;
    padding-bottom: 5%;
}
.fa-3:hover {
    color: #ff4c68;
}
.features-h3{
    font-family: 'Montserrat-Black',sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.features-p{
    color: #8f8f8f;
}

#testimonials{
    background-color: #ef8172;
    
    text-align: center;
    color: white;
    font-family: 'Montserrat-Black',sans-serif;

}
.testimonial-text{
    font-size: 2.7rem;
    line-height: 1.5;
    padding-bottom: 5%;
}
.testimonial-image{
    /* margin-top: 5%; */
    width: 15%;
    border-radius: 100%;
}
.testimonial-em{
    margin: 3%;
}
.carousel-item{
    padding: 10% 17%;
}

#press{
    background-color: #ef8172;
    padding: 3% 0;
    text-align: center;
}

.press-img{
    margin: 0 3%;
    width: 13%;
}